<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Aventix </title>
    
  </head>
<body>
  
   <div class="cont">
     <div class="col-md-4 col-sm-4 col-xs-12" >
    <br><br><br><br><br><br>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12" >
    <br><br><br><br><br><br>
    <div class="alert alert-danger text-center">
        <h3>Activé</h3> 
        <hr />
        <i class="fa fa-warning fa-4x"></i>
        <p>
        Compte activé redirection vers connection.<br><br>
        </p>
        <hr />
    </div>
</div>
  </div>
<meta http-equiv="refresh" content="0; url=https://tntwebapp.herokuapp.com/account_valid/" />
    <div id="footer">
        <div id="fixe-bas">
           &copy; Copyright 2017 by 
          <a href="https:/tntwebserver.herokuapp.com/admin/">TAN & TECH</a>.
        </div>
    </div>

</body>
</html>